@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Sora', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #edece9;
}
section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 45px;
    background: rgba(154, 200, 100);
    width: 500px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
section h2{
    color: #f5f5f5;
    font-size: 2.5rem;
    margin: 2rem;
}
section h3{
    color: #f5f5f5;
    font-size: 1.25rem;
    margin-bottom: 10px;
}
section p{
    color: #f5f5f5;
    font-size: 15px;
    margin-bottom: 25px;
}
.btn{
    padding: 15px;
    text-decoration: none;
    background:  #f5f5f5;
    color: #d76036;
    font-size: 18px;
    border-radius: 16px;
    transition: all 0.5s;
}
.btn:hover{
    background-color:#d76036;
    color: #f5f5f5;
}